.architect
bootstrap.css
bootstrap.js
bootstrap.json
bootstrap.jsonp
build/
classic.json
classic.jsonp
ext/
modern.json
modern.jsonp
resources/sass/.sass-cache/
resources/.arch-internal-preview.css
.arch-internal-preview.css

# Dependency directories
node_modules/

# Macos attributes file
.DS_Store

# IDE
.vscode
.idea
.history
